@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');


body {
      background-color: rgba(235, 235, 235, 0.603) !important;
      font-family: 'Poppins', sans-serif !important;
}


.welcome-class {
      width: 50%;
      padding: 55px;
}


.welcome-class h1 {
      color: black;
      font-size: 40px;
}

.welcome-class h1 span {
      color: #0028d5;
      font-size: 40px;
}


.welcome-class span {
      color: #acacac;
      display: flex;
}

.welcome-class span p{
      margin-left: 5px;
}

.modules-area {
      padding: 55px;
      display: flex;
      flex-direction: column;
      align-items: left;
}


.modules-area h1 {
      font-size: 25px;
      font-weight: 700;
      color: rgb(41, 41, 41);
      text-transform: uppercase;
}

.modules-area span {
      color: #acacac;
}

.content-module {
      display: flex;
      margin-top: 15px;
      overflow-x: auto;
}

.content-module a {
      margin-right: 25px;
      width: 400px;
      height: auto;
      background-color: white;
      display: flex;
      flex-direction: column;
      padding: 25px;
      border-radius: 15px;
      text-decoration: none;
      transition: 0.5s ease;
}

.content-module a button {
      width: 80%;
      padding: 15px;
      background-color: #0028d5;
      color: white;
      border-radius: 15px;
      border: none;
      font-weight: 700;
      font-size: 18px;
      margin-top: 15px;
      cursor: pointer;
}

.content-module a:hover {
      transform: translateY(-10px);
}